/* rules for phones */
@media only screen and (max-width:480px)
{
  .slider-image {max-width: 100%;}
  .flash-ad {display:none;}
}

/* CSS rules for tablets */
@media only screen and (min-width:481px) and (max-width:768px)
{
  .slider-image {max-width: 100%;}
  .flash-ad {display:none;}
}

/* CSS rules for desktops */
@media only screen and (min-width:769px)
{
  .slider-image {max-width: 100%;}
  .flash-ad {display:none;}
}
